
.contact{
    background-color: var(--light-bg);
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem;
}
.contactCol{
    flex-basis: 48%;
    color: #676767;
}
.contactCol h3{
    color: #000f38;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contactCol h3 img{
    margin-left: 10px;
    width: 35px;
}
.contactCol p{
    list-style: none;
}
.contactCol ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
    list-style: none;
}

.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    background: #ebecfe;
    border: 0;
    outline: 0;
    resize: none;
}
.contact-col span{
    display: block;
    margin: 20px 0;
}
/*--------media queries----*/
@media(max-width: 700px){
    .contact{
        display: block;
    }
    .contactCol{
        padding: 20px;
    }
}

.contactItem li {
  list-style: none;
  margin: 0.5rem 0;
  transition: var(--transition);
}

.contactItem li:hover {
  background-color: var(--hover-bg);
  transform: translateX(-10px);
}
.submitBtn {
     color: yellow;
    border-bottom: 3px solid yellow;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}