/*Global styles for the application*/
*{
    box-sizing: border-box;
}
.container
{
    max-width: 1000px;
    
}
/*navigation bar styles*/
.navbar
{
    background-color: #333;
    color: white;

    
    text-align:left;
    padding: 10px;
    position:relative;
    top: 0;
    width: 100%;
}
.navbar a
{
    color: red;
    text-decoration:dotted;
}
.navbar a:hover
{
    text-decoration:overline;
    color:#d0d0d0;
    transition: color 0.2s;
}
.navbar ul
{
    display: flex;
    justify-content: center;
    padding: 15px;
}
.navbar ul li
{
    border: 1px solid #333;
    border-radius: 5px;
    /*background-color: #d0d0d0;*/
    list-style: none;
    margin: 0 15px;
    font-size: 30px;
}
.navbar ul li:hover
{
    background-color: #e0e0e0;
    transform: translateY(-5px);
    transition: transform 0.2s;
}
/*About me styling*/
 .about-me
    {
        background-color: #f0f0f0;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        margin: 15px;
        cursor: pointer;
        width: 100%; 
        height: 100%;
        list-style: none;
        font-style: italic;

    }
/*education styling*/
 .education
    {
        background-color: #f0f0f0;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        margin: 15px;
        cursor: pointer;
        width: 100%; 
        height: 100%;
        list-style: none;

    }
 .education-item
    {
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        margin: 15px;
        cursor: pointer;
        width: 100%; 
        min-height: 216px;
    }
    .education-item:hover
    {
        background-color: #e0e0e0;
        transform: translateY(-5px);
        transition: transform 0.2s;
    }
/*Skills styling*/
 .skills 
{  
    background-color:  #f9f9f9;
    padding: 20px;
    flex: wrap;
}
    .skills-item
    {
        background-color: #f0f0f0;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        margin: 15px;
        cursor: pointer;
        width: 100%; 
        min-height: 216px;
        list-style: none;

    }
    .skills-item:hover
    {
        background-color: #e0e0e0;
        transform: translateY(-5px);
        transition: transform 0.2s;
    }
    .skills-item li
    {
       list-style: none;
    }
    .skills-item:hover li
    {
        background-color: #e0e0e0;
        transform: translateY(-5px);
        transition: transform 0.2s;
    }
    .skills-item li:hover
    {
        background-color: #d0d0d0;
        transform: translateX(-10px);
        transition: transform 0.2s;
    }

/*Project Styling*/
.projects 
{  
    background-color: #f0f0f0;
    padding: 20px;
    flex: wrap;
}
.project-item
{
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 15px;
    cursor: pointer;
    width: 100%; 
    min-height: 216px;

}
.project-item:hover
{
    background-color: #e0e0e0;
    transform: translateY(-5px);
    transition: transform 0.2s;
}


/*Header styles*/
/*Footer styles*/
.footer
{
    background-color: #333;
    color: white;
    text-align:left;
    padding: 10px;
    position:relative;
    bottom: 0;
    width: 100%;
}
.footer a
{
    color: white;
    text-decoration:dotted;
}
.Footer a:hover
{
    text-decoration:line-through;
    color: red;
    transition: color 0.2s;
}
.text-field label {
  color: red !important;
}

.text-field .MuiInputBase-input {
  color: white !important;
}

.text-field .MuiInput-underline:before {
  border-bottom: 1px solid white !important;
}

.text-field .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 1px solid red !important;
}

.text-field .MuiInput-underline:after {
  border-bottom: 1px solid red !important;
}
.myBtn{
    margin-top: 5px !important;
}

.profile
{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.icon
{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
   
/*Screen size adjustments*/
@media (max-width: 768px) 
{
     .projects {
        flex-direction: column;
        align-items: center;
    }

    .project-item {
        width: 90%;
        max-width: 400px;
    }
}

